$ff: "Lexend Deca", sans-serif;

// const colors
$white: #fff;
$black: #000;

$body-bg: #020617;
$body-color: $white;

$section-bg: #111827;

$primary-color: #eab308;

$header-link: #9ca3af;
$header-link-active: $white;

$btn-text-color: $black;
$btn-radius: 4px;

$transition: 0.2s all ease-out;
$transform-nav: scale(1.2);
$transform-img: scale(1.08);

$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;
$mobile-very-small: 320px;

$desc-colot-txt: #6b7280;
$title-color-txt: #f3f4f6;
$abovetitle-item-color-txt: #D1D5DB;
$undertitle-item-color-txt: #D1D5DB;