.experience {

  &__wrapper {
    max-width: calc(1424px + 40px);
    margin-inline: auto;
    padding: 0 8px;
  }
  .container {
    max-width: 1424px;
    padding: 85px 149px;
    margin-inline: auto;
    background: $section-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;

    @include tablet {
      padding: 60px 20px;
      gap: 20px;
    }
  }

  &__header {
    width: 100%;
  }

  &__info {
    max-width: 730px;
  }

  &__title {
    @extend %title;
    span {
      color: $primary-color;
    }
    margin-bottom: 24px;
    @include mobile {
      margin-bottom: 18px;
    }
  }

  &__desc {
    @extend %desc;
  }

  &__link {
    transition: $transition;
    &:hover {
      transform: $transform-img;
    }
  }
  .experience-list {
    display: grid;
    width: 100%;
    grid-template-columns: calc(372 / 1126 * 100%) calc(318 / 1126 * 100%) calc(372 / 1126 * 100%);
    gap: 29px;
    @include tablet {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 20px;
    }
    @include mobile {
      grid-template-columns: 1fr;
      gap: 20px;
    }

    .box-1 {
      max-width: 366px;
      @include mobile {
        max-width: 100%;
      }
      }

    .box-2 {
      max-width: 336px;
      @include mobile {
        max-width: 100%;
      }
    }
   .experience-item {
      display: flex;
      flex-direction: column;
      background-color: $body-bg;
      border-radius: 12px;
      padding: 32px;
      @include mobile {
        padding: 16px;
      }

      &_date {
        @extend %desc;
        color: $abovetitle-item-color-txt;
        font-size: 20px;
        margin-bottom: 8px;
      }

      &__title {
        @extend %item-title;
        color: $primary-color;
        text-align: start;
        margin-bottom: 4px;
      }

      &__app {
        @extend %desc;
        color: $undertitle-item-color-txt;
        margin-bottom: 16px;
      }

      &__desc {
        flex-grow: 1;
        @extend %desc;
      }
    }
  }
}
